@import "tailwindcss";

@theme {
  --color-celeste: #a2c0e2;
  --color-crema: #fdffea;
  --color-chocolate: #4b260c;
  --color-manteca: #f5e188;
  
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-crema);
    color: var(--color-chocolate);
    font-family: var(--font-jakarta);
    text-transform: lowercase;
  }
}

@layer utilities {
  @keyframes slow-zoom {
    0% { transform: scale(1.05); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1.05); }
  }
  .animate-slow-zoom {
    animation: slow-zoom 40s ease-in-out infinite;
  }
}